<%= render 'shared/navbar_pages', title: 'Your Questions' %>

<div class="index-container pt-3">

<div class="card-container pt-3">
  <h3> Here are your pending questions </h3>
  <br>
  <div class="question-card"> 
    <% @pending_questions.each do |question| %>
      <%= question.user.first_name %>
      <%= question.user.last_name %>
      <p>asked:</p>
      <%= question.created_at.strftime("%b %d, %Y") %>
      <%= question.content %>
      <div>
        <%= link_to "Answer question", new_question_answer_path(question) %>
      </div>
    <% end %>
  </div>
  <%# <%= button_to "LEAVE AN OPINION", new_visit_review_path(visit), class: "ask-show", method: :get %>
</div>
</div>