<%= render 'shared/navbar_pages', title: 'Recently visited' %>
<div class="index-container pt-3">


<div class="card-container pt-3">
  <h3> Here are your visited places </h3>
  <br>
  <% @visits.each do |visit| %>


    <div class="place-card">
      <% if current_user.on_wishlist?(visit.place) %>
        <%=  link_to wishlist_item_path(current_user.wishlist_item_of(visit.place)), method: :delete, remote: true do %>
          <i class="fas fa-heart wish-icon"></i>
        <% end  %>
      <% else %>
        <%=  link_to place_wishlist_items_path(visit.place), method: :post, remote: true do %>
          <i class="far fa-heart wish-icon"></i>
        <% end  %>
      <% end  %>
      <%= link_to place_path(visit.place), class: "place-card-link" do %>

        <% if visit.place.photo.attached? %>
          <div class="card-image" style="background-image: linear-gradient(180deg, rgba(52, 100, 109, 0.08) 0%, rgba(15, 29, 31, 0.6) 100%), url(<%= cl_image_path visit.place.photo.key, crop: :fit%>)">
        <% else %>
          <div class="card-image" style="background-image: linear-gradient(180deg, rgba(52, 100, 109, 0.08) 0%, rgba(15, 29, 31, 0.6) 100%), url(<%= cl_image_path "p1xxchyw9ygjdeiqaa1sp47g2zgw", crop: :fit%>)">
      <% end %>


          <div class="card-place-name"><%= visit.place.name.capitalize %></div>
          <div class="card-category"><%= visit.place.category %></div>
          <div class="visit-date">Visited on <%= visit.created_at.strftime("%b %d, %Y") %></div>

        </div>
        <div class="visit-link">
          <%= link_to new_visit_review_path(visit), class: "review-link", method: :get do %>
          <div class="card-details-visits">
             <div class="review">LEAVE AN OPINION</div>
          </div>
          <% end %>
        </div>
      <% end %>

    </div>
    <br>
  <% end %>
</div>



</div>



