<%= render 'shared/navbar_main' %>
  <div class="container mb-67">

    <% if user_signed_in? %>
      <div class="user-info">
        <div class="user-image" >
          <% if @user.photo.attached? %>
            <div class="avatar avatar-bordered py-10" style="background-image: url(<%= cl_image_path @user.photo.key %>);"></div>
          <% else %>
            <div class="avatar avatar-bordered py-10" style="background-image: url(https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-1545687092.jpg);"></div>
          <% end %>
          <%# <div class="avatar avatar-bordered py-10" style="background-image: url(https://avatars0.githubusercontent.com/u/64172452?v=4);"></div> %>
        </div>

        <div class="account-items">
          <% if current_user.place.present? %>
          <div class="account-item">
            <%= link_to questions_path do%>

              <div class= "account-link">
                <i class="fas fa-question account-icon"></i>
                Open Questions
              </div>
            <% end %>
          </div>
          <% end %>

          <div class="account-item">
            <%= link_to visits_path do %>
              <div class= "account-link">
                <i class="fas fa-walking account-icon"></i>
                Recently visited
              </div>
            <%  end  %>
          </div>

          <div class="account-item">
            <%= link_to new_place_path do %>
              <div class= "account-link">
                <i class="fas fa-building account-icon"></i>
                Add your business
              </div>
            <%  end  %>
          </div>
          <hr>
          <div class="account-item">
            <%= link_to edit_user_registration_path do %>
              <div class= "account-link">
                <i class="far fa-edit account-icon"></i>
                Edit profile
              </div>
            <%  end  %>
          </div>
          <div class="account-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class= "account-link ">
                <i class="fas fa-sign-out-alt account-icon"></i>
                Log out
              </div>
            <%  end  %>

          </div>
        </div>
      </div>
    <% else %>
        <% controller.redirect_to new_user_session_path %>
    <% end %>
  </div>
<%= render 'shared/navbar_bottom' %>
