<div class="container">
  <h1><%= place.name %> </h1>
  <%= simple_form_for [@place, @review] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content%>
    <%= f.submit "SUBMIT",  class:"btn-main" %>
  <% end %>
</div>
