<div class="search-bar">
  <%= form_tag places_path , method: :get do %>  <%# form goes has default method "Post", thats why you must spcifiy "get" (Post redirects to Create) %>
    <%= text_field_tag :location,
      params[:location],
      class: "form-control",
      placeholder: "Filter by location" %>


      <% Place.all_cats.each do |cat| %>
        <br><%= radio_button_tag 'category', cat, @cat == cat %>
        <%= cat %>
      <% end %>

      <% Place.all_tags.each do |tag| %>
        <br><%= check_box_tag 'tag_list[]', tag, @tag == tag %>
        <%= tag %>
      <% end %>


    <%= button_tag(type: "submit") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>

