<div class="search_by_filter">
  <div class="container">
    <div class="filter-content">
      <%= form_tag places_path , method: :get do %>  <%# form goes has default method "Post", thats why you must spcifiy "get" (Post redirects to Create) %>
        <div class="search-bar">
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Filter by location" %>
        </div>
        <div class="container-btn-clear">
          <%= link_to "Clear Filters", places_path, class: "btn-clear-filter" %>
        </div>
        <div class="filter-content">
          <div class="filter-category">
            <h5 class="filter-h5"> Sort by one category </h5>

            <% Place.all_cats.each do |cat| %>

              <%= radio_button_tag 'place_category', cat, @cat == cat, class: "category-selector #{cat.downcase.gsub /\s+/, '_'}"%>
              <label for="place_category" class="form-check-label collection-radio-buttons collection"><%= cat %></label>
            <% end %>
          </div>

          <div class="filter-tag">
            <h5 class="filter-h5"> Sort by tags (as many you want) </h5>

            <% Place.all_tags.each do |tag| %>
            <label for="place_tag" class="form-check-label collection_check_box_tag"><%= tag %></label>
              <br><%= check_box_tag 'tag_list[]', tag, @tag == tag, class: "category-selector" %>
            <% end %>
          </div>

          <div class="btn-apply">
            <%= button_tag(type: "submit") do %>
            <i class="fas btn-apply-filters"><h6 class="btn-text">APPLY FILTERS</h6></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
