<div class="d-none" id="search-filter">
  <a href="/places" class="icons clear">
    <i class="fas fa-smile"></i> Give me all!
  </a>
  <%= simple_form_for :place, url: places_path, method: :get  do |f| %>
    <div class="form container">
      <%= f.input :location, :label => "Find by location", required: false %>
      <%= f.input :category, as: :radio_buttons,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper',
          item_wrapper_class: 'category-item',
          input_html: {class: 'category-selector'},
          :label => "Type of business (Choose only one)",
          as: :radio_buttons, collection: Place.all_cats %>

      <%= f.input :tag_list, as: :radio_buttons,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper',
          item_wrapper_class: 'category-item',
          input_html: {class: 'category-selector'},
          :label => "Which critiria do you fulfil? (Choose as many you need)",
          as: :check_boxes, collection: Place.all_tags %>
    </div>
    <%= f.submit "Apply filters",  class:"btn-apply-filters px-0" %>
  <% end %>
</div>
