
<%= render 'shared/navbar_main' %>
<%= render 'filter_places' %>
<div class="index-container">

  <div class="top-container">
    Places in Barcelona
    <div class="icons" >
        <div id="search-filter-btn">
          <i class="fas fa-sliders-h"></i>Filters
        </div>
    <div class="right-icon">
      <div class="search-map-btn">
        <i class="fas fa-map-marked-alt"></i>Map
      </div>
      <div class="search-list-btn">
        <i class="fas fa-list-ul"></i>List
      </div>
    </div>


  </div>
  <div class="card-container">
      <% @places.each do |place| %>

          <div class="place-card" id="place_<%= place.id %>">
            <% if current_user.on_wishlist?(place) %>
                <%=  link_to wishlist_item_path(current_user.wishlist_item_of(place)), method: :delete, remote: true do %>
                  <i class="fas fa-heart wish-icon"></i>
                <% end  %>
              <% else %>
                <%=  link_to place_wishlist_items_path(place), method: :post, remote: true do %>
                  <i class="far fa-heart wish-icon"></i>
                <% end  %>
              <% end %>
            <%= link_to place_path(place), class: "place-card-link" do %>
            <% if place.photo.attached? %>
            <div class="card-image" style="background-image: linear-gradient(180deg, rgba(52, 100, 109, 0.08) 0%, rgba(15, 29, 31, 0.6) 100%), url(<%= cl_image_path place.photo.key, crop: :fit%>)">
            <% else %>
            <div class="card-image" style="background-image: linear-gradient(180deg, rgba(52, 100, 109, 0.08) 0%, rgba(15, 29, 31, 0.6) 100%), url(<%= cl_image_path "p1xxchyw9ygjdeiqaa1sp47g2zgw", crop: :fit%>)">
            <% end %>

              <div class="card-place-name"><%= place.name.capitalize %></div>
              <% place.tag_list.each do |tag| %>
                <div class="card-tags"><%= tag %></div>
              <% end %>
            </div>
            <div class="card-details">
              <div class="item"><i class="fas fa-seedling"></i>
                <%= (place.average_reviews).truncate(1) %>
              </div>
              <div class="item">0,3 km</div>
            </div>
            <% end %>
          </div>
      <% end %>
  </div>
</div>


  <div id="map" class="d-none"
     style="width: 100%; height: 800px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>





<%= render 'shared/navbar_bottom' %>

