<%= render 'shared/navbar_pages', title: 'Add your business' %>

    <%= simple_form_for [@place] do |f| %>
      <div class="form container">
        <div class="form-inputs">
        <%= f.input :name, :label => "What's your business name?" %>
        <%= f.input :address, :label => "What's the address?" %>
        <%= f.input :category, as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            :label => "Type of business (Choose only one)",
            as: :radio_buttons, collection: Place.all_cats %>

        <%= f.input :tag_list, as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            :label => "Which critiria do you fulfil? (Choose as many you need)",
            as: :check_boxes, collection: Place.all_tags %>

        <%= f.input :story, :label => "Tell us more (will be displayed)", :input_html => {:rows => 10} %>

        <div class="d-flex justify-content-between pb-3">
          <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input'},
            wrapper_html: { class: 'mb-0 d-flex align-items-center'},
            label_html: { class: 'upload-photo mb-0'},
            label: '📷 Upload a photo',
            as: :file %>
          <%= image_tag "", width: 200, class: "d-none", id: "photo-preview" %>
        </div>
      </div>
      </div>
      <%= f.submit "Create",  class:"btn-create-business px-0" %>
    <% end %>
