<div class="container pt-3">
  <h1>Name: <%= @place.name %> </h1>
  <h5>About this place:</h5>
  <p>Tags: <% @place.tag_list.each do |tag|%>
      <%= "#{tag} " %><br>
    <% end %> </p>
  <h6>Address: <%= @place.address %> </h6>
  <h6>Category: <%= @place.category %> </h6>
  <h6>Our story: <%= @place.story %> </h6>
</div>




