<%= render 'shared/navbar_main' %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path @place.photo.key, crop: :fill %>)">
  <h1><%= @place.name %> </h1>
  <h6><%= @place.category %> </h6>
  <h6 class="rating-place"><i class="fas fa-seedling"></i> <%= (@place.average_reviews).truncate(1) %></h6>
  <% if @place.user.photo.attached? %>
    <div class="avatar-show avatar-bordered" style="background-image: url(<%= cl_image_path @place.user.photo.key %>);">
  <% else %>
    <div class="avatar-show avatar-bordered" style="background-image: url(https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-1545687092.jpg);">
  <% end %>
  </div>
</div>

<div class="card-show">
  <p><strong><%= @place.user.first_name %></strong>  </p>

  <div class="d-flex justify-content-center">
    <% @place.tag_list.each do |tag|%>
      <% if tag == "plant-based" %>
        <div class="text-center mx-1">
          <i class="fas fa-leaf tag-icons"></i>
          <p id="text-green"><%= tag  %></p>
        </div>
      <% end %>
      <% if tag == "LGBT-friendly" %>
        <div class="text-center mx-1">
          <i class="fas fa-rainbow tag-icons"></i>
          <p id="text-green"><%= tag  %></p>
        </div>
      <% end %>
      <% if tag == "women owned" %>
        <div class="text-center mx-1">
          <i class="fas fa-venus-double tag-icons"></i>
          <p id="text-green"><%= tag  %></p>
        </div>
      <% end %>
      <% if tag == "locally sourced" %>
        <div class="text-center mx-1">
          <i class="far fa-street-view tag-icons"></i>
          <p id="text-green"><%= tag  %></p>
        </div>
      <% end %>
      <% if tag == "fair trade" %>
        <div class="text-center mx-1">
          <i class="far fa-handshake tag-icons"></i>
          <p id="text-green"><%= tag  %></p>
        </div>
      <% end %>
      <% if tag == "organic" %>
        <div class="text-center mx-1">
          <i class="fab fa-envira tag-icons"></i>
          <p id="text-green"><%= tag  %></p>
        </div>
      <% end %>
      <% if tag == "vegetarian" %>
        <div class="text-center mx-1">
          <i class="fas fa-pepper-hot tag-icons"></i>
          <p id="text-green"><%= tag  %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <p class="p-4"><strong><%= (@place.user.about_me).upcase %></strong> </p>

  <div class="owl-carousel carousel-height">
    <img src="https://images.adsttc.com/media/images/5de8/74f9/3312/fdbc/3500/005b/newsletter/Culturist_5.jpg?1575515353" class="w-100">
    <img src="https://res.cloudinary.com/dpnjiruwh/image/upload/v1607529121/images_xf4hsk.jpg" class="w-100">
    <img src="https://soycomocomo.es/media/2018/06/forn-veritas.jpg" class="w-100">
  </div>

<div>

    <div class="story-show px-4">
      <h5 id="about-place">About <%= @place.name %> </h5>
      <p><%= @place.story %> </p>
    </div>

    <div class="question-answer p-4 pb-5">
      <h5>Ask <%= @place.user.first_name %> anything: </h5>

        <% @answered_questions.first(3).each do |question| %>
          <h6> <strong>Q:</strong>  <%= question.content %> </h6>
          <p> <%= question.user.first_name %>, <%= question.created_at.strftime("%b %d, %Y") %></p>
          <h6> A: <%= question.answer.content %> </h6>
          <hr>
        <% end %>

        <% if @answered_questions.count > 3 %>
          <p>
            <a class="btn-link-green position-bottom-left" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              SHOW MORE <i class="fas fa-caret-down"></i>
            </a>
          </p>

          <div class="collapse" id="collapseExample">
            <div class="ratings-people">
              <% @answered_questions[3..-1].each do |question| %>
                <h6> <strong>Q:</strong>  <%= question.content %> </h6>
                <p> <%= question.user.first_name %>, <%= question.created_at.strftime("%b %d, %Y") %></p>
                <h6> A: <%= question.answer.content %> </h6>
                <hr>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= link_to "ASK THE OWNER", new_place_question_path(@place), class: 'btn-dark-green position-bottom' %>

    </div>

    <div class="ratings-show p-4 pb-5">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start mt-3 ml-0 ratings-global">
          <i class="fas fa-seedling" id="leaf"></i> <p id="rating-number"><%= (@place.average_reviews).truncate(1) %></p>
        </div>
        <div class="d-flex justify-content-end">
          <p class="opinions"> <%= @place.reviews.count %> reviews</p>
        </div>
      </div>


      <% if @place.reviews.count > 0 %>
        <% @place.reviews.first(3).each do |review| %>
          <p id="who-said"> <%= review.visit.user.first_name %>, <%= review.created_at.strftime("%b %d, %Y") %> </p>

          <h6 class="ratings-people"><%= review.content  %></h6>
          <div class="d-flex justify-content-left mt-3 ml-0 little-rating">
            <p id="really-little"><%= review.rating %>
              <% if review.rating == 5 %>
                </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i>
              <% end %>
              <% if review.rating == 4 %>
                </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i>
              <% end %>
              <% if review.rating == 3 %>
                </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i>
              <% end %>
              <% if review.rating == 2 %>
                </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i>
              <% end %>
              <% if review.rating == 1 %>
                </p><i class="fas fa-seedling leafy"></i>
              <% end %>
          </div>
          <hr>
        <% end %>

        <% if @place.reviews.count > 3 %>
          <p>
            <a class="btn-link-green position-bottom-left" data-toggle="collapse" href="#collapseReviews" role="button" aria-expanded="false" aria-controls="collapseReviews">
              SHOW MORE <i class="fas fa-caret-down"></i>
            </a>
          </p>
          <div class="collapse" id="collapseReviews">
            <div class="ratings-people">

                <% @place.reviews[3..-1].each do |review| %>
                  <p id="who-said"> <%= review.visit.user.first_name %>, <%= review.created_at.strftime("%b %d, %Y") %> </p>

                  <h6 class="ratings-people"><%= review.content  %></h6>
                  <div class="d-flex justify-content-left mt-3 ml-0 little-rating">
                    <p id="really-little"><%= review.rating %>
                      <% if review.rating == 5 %>
                        </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i>
                      <% end %>
                      <% if review.rating == 4 %>
                        </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i>
                      <% end %>
                      <% if review.rating == 3 %>
                        </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i> <i class="fas fa-seedling leafy"></i>
                      <% end %>
                      <% if review.rating == 2 %>
                        </p><i class="fas fa-seedling leafy"></i><i class="fas fa-seedling leafy"></i>
                      <% end %>
                      <% if review.rating == 1 %>
                        </p><i class="fas fa-seedling leafy"></i>
                      <% end %>
                  </div>
                  <hr>
                <% end %>
        <% end %>

      <% else %>
            <p>No reviews yet!</p>
      <% end %>
        </div>
      </div>
      <% if current_user.visits.any? { |visit| visit.place == @place } %>
        <%= button_to "LEAVE AN OPINION", new_visit_review_path(current_user.visits.find_by(place: @place)), class: "btn-dark-green position-bottom", method: :get %>
      <% end %>
    </div>



</div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>


  </div>

    </div>
<%= render 'shared/navbar_bottom' %>




<% #add googlr maps link to place,place_visits_path(@place) %>
<%= link_to "Lets go!", place_visits_path(@place), method: :post, class: 'card-link' %>
