<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path @place.photo.key, crop: :fill %>)">
  <h1><%= @place.name %> </h1>
  <h6><%= @place.category %> </h6>
  <h6>Ratings (placeholder)</h6>
  <div class="avatar-show avatar-bordered" style="background-image: url(https://kitt.lewagon.com/placeholder/users/krokrob);">
  </div>

</div>



<div class="card-show">
  <p><%= @place.user.first_name %> </p>
  <p><% @place.tag_list.each do |tag|%>
      <%= "#{tag} " %><br>
    <% end %> </p>
  <p><%= @place.user.about_me %></p>
</div>


  <div class="show-carrousel">

  </div>

  <div class="story-show">
    <h5>About <%= @place.name %> </h5>
    <p><%= @place.story %> </p>
  </div>

  <div class="question-answer">
    <h5>Ask <%= @place.user.first_name %> anything: </h5>

  </div>

  <div class="ratings-show">

  </div>

  <div class="map-show">

  </div>






